@model PacienteViewModel
@{
    Layout = null; 
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h5>Confirmar Exclusão</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <h5>Tem certeza que deseja excluir este item?</h5>

            <hr />
            <dl class="row">

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Id)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Id)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nome)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DataNascimento)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DataNascimento)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Cpf)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Cpf)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Motivo)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Motivo)</dd>

            </dl>
        </div>


        <div class="modal-footer">
            <form asp-action="Delete" class="w-100">
                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>

                    <input type="submit" value="Excluir Agora" class="btn btn-outline-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
