@using Cooperchip.ItDeveloper.Mvc.Models
@model IEnumerable<PacienteViewModel>

@{
    ViewData["Title"] = "Lista de Pacientes";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
@await Component.InvokeAsync("Cabecalho", new { Titulo = "Gestão de Pacientes", Subtitulo = "Controle geral do cadastro de Pacientes" })

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Lista dos Pacientes</h3>
    </div>
</div>

<p >
    <a asp-action="Create" class="btn btn-success">Criar Novo</a>
</p>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.EstadoPaciente)</th>
            <th>@Html.DisplayNameFor(model => model.Sexo)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.EstadoPaciente.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

